.Rproj.user
.Rhistory
.RData
.Ruserdata
blogdown
.DS_Store # if a windows user, Thumbs.db instead
public/
blogdown.epub
blogdown.pdf
content/.DS_Store
content/post/.DS_Store
static/.DS_Store
static/*/.DS_Store
content/post/data/*
static/post/*
.DS_Store
